<!DOCTYPE html>
<html>
<head>
  <script src="https://www.google.com/recaptcha/api.js?render=6Ld_iCMsAAAAAKaAUu9HgW9K0WbxZBlWH54IhhlZ"></script>

  <meta charset="utf-8">
  <%- partial('google-analytics') %>
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <%- css('css/style') %>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


  <meta name="robots" content="index,follow"><!-- All Search Engines -->
  <meta name="googlebot" content="index,follow"><!-- Google Specific -->
  <meta name="description" content="Detta är hemsidan för Göteborgs Muay Thai Lejonkulan">
  <meta name="theme-color" content="#365068">

  <!-- Facebook meta tags -->
  <meta property="og:site_name" content="Göteborgs Muay Thai Lejonkulan">
  <meta property="og:locale" content="sv_SE">
  <meta property="article:author" content="Martin Sonesson">
  <meta property="og:title" content="Göteborgs Muay Thai Lejonkulan" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://gbgmuaythai.com" />
  <meta property="og:image" content="http://gbgmuaythai.com/banner2.jpg" />
  <meta property="og:description" content="Detta är hemsidan för Göteborgs Muay Thai Lejonkulan" />

  <!-- Twitter meta tags -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@Martin_Sonesson">
  <meta name="twitter:url" content="http://gbgmuaythai.com">
  <meta name="twitter:title" content="Göteborgs Muay Thai Lejonkulan">
  <meta name="twitter:description" content="Detta är hemsidan för Göteborgs Muay Thai Lejonkulan">
  <meta name="twitter:image" content="http://gbgmuaythai.com/banner2.jpg">
</head>
